@import 'https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap';
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


*{
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
}

.first{
  grid-area: events;
}
.second{
  grid-area: happyCustomers;
}
.third{
  grid-area: corpEvents;
}
.fourth{
  grid-area: corpDetails;
}
.fifth{
  grid-area: outdoorEvents;
}
.sixth{
  grid-area: outdoorDetails;
}
.seventh{
  grid-area: eduEvents;
}
.eighth{
  grid-area: eduDetails;
}
.ninth{
  grid-area: personalEvents;
}
.tenth{
  grid-area: personalDetails;
}
.boxShadow {
  box-shadow: 10px 10px 0 rgba(81, 81, 81, 0.76);
}